<mat-card class="order-card">
  <mat-card-header>
    <mat-card-title>
      <button mat-icon-button (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      CREAR UNA ORDEN</mat-card-title>
    <mat-card-subtitle>Ingrese los materiales y equipos ha solicitar, recuerda no agregarlos en la sección de
      comentarios.</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-form-field>
      <mat-label>Seleccionar Territorio o Zona</mat-label>
      <mat-select [(ngModel)]="zone" name="zone">
        <mat-option value="Occidente">Occidente</mat-option>
        <mat-option value="Oriente">Oriente</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Comentarios</mat-label>
      <textarea matInput [(ngModel)]="comment" rows="2"></textarea>
    </mat-form-field>
    <form [formGroup]="itemForm" (ngSubmit)="addItem()">

      <div class="new-item-form">
        <mat-form-field appearance="outline">
          <mat-label>Ingresar nombre o código...</mat-label>
          <input matInput formControlName="item_name" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
            <mat-option *ngFor="let option of optionMaterials | async" [value]="option">
              {{option.code}} - {{option.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Cantidad requerida</mat-label>
          <input matInput type="number" formControlName="item_qty" required>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" (click)="addItem()" [disabled]="itemForm.invalid">
          <mat-icon>add</mat-icon>
          Agregar
        </button>

      </div>

    </form>

    <mat-card class="items-card" *ngIf="(items$ | async) as items">
      <mat-card-header>
        <mat-card-title>Componentes agregados</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item *ngFor="let item of items; let i = index">
            <div mat-line class="item-name">{{item.item_name}}</div>
            <div mat-line class="item-details">Código: {{item.item_code || 'N/A'}} | Cantidad: {{item.item_qty}}</div>
            <button mat-icon-button color="warn" (click)="removeItem(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-stroked-button color="warn" (click)="cancel()" type="button">
      <mat-icon>cancell</mat-icon>
      Cancelar</button>
    <button mat-raised-button color="primary" type="button" (click)="saveItems()">
      <mat-icon>save</mat-icon>
      Crear Orden
    </button>
  </mat-card-actions>
</mat-card>
