table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.header-preparada {
  background-color: rgb(70, 137, 107);
}

.color-span {
  padding: 2px;
  color: white;
  border-radius: 5px;
}

.header-mat {
  display: block;
  width: 100%;
}

.item-btn {
  display: flex;
  margin-bottom: 10px;
  justify-content: left;
}

.item-btn button {
  margin-right: 10px;
}
