<ng-toast [position]="ToasterPosition.TOP_RIGHT" />
<div class="content">
  <mat-card appearance="outlined" class="login-card">
    <img [src]="logue" alt="Logo" class="logo">
    <mat-card-content>
      <form [formGroup]="formLogin" (ngSubmit)="save()">
        <mat-form-field appearance="fill" class="register-input">
          <mat-label>Usuario</mat-label>
          <input matInput formControlName="username" type="number" required>
          <mat-error *ngIf="hasError('username', 'required')">El usuario es requerido</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="register-input">
          <mat-label>Contraseña</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="hasError('password', 'required')">La contraseña es requerida</mat-error>
          <mat-error *ngIf="hasError('password', 'pattern')">La contraseña debe tener al menos 8 caracteres, una
            mayúscula, una minúscula y un número</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="register-input">
          <mat-label>Confirmar Contraseña</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword" required>
          <mat-error *ngIf="formLogin.hasError('notSame')">Las contraseñas no coinciden</mat-error>
        </mat-form-field>

        <button mat-raised-button type="submit" class="login-button">
          Restablecer Contraseña
        </button>

        <div class="login-links">
          <a routerLink="/login">¿Ya tienes cuenta? Inicia sesión</a>
        </div>

      </form>
    </mat-card-content>
  </mat-card>
</div>
