.header,
.dialog-message {
  text-transform: lowercase;
}

.header::first-letter,
.dialog-message::first-letter {
  text-transform: uppercase;
}

.main-content{
  width: 100%;
}

.input-form mat-form-field + mat-form-field {
  margin-left: 5px;
}

.input-password mat-form-field {
  width: 100%;
}
