table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}


.header-aprobada {
  background-color: orange;
}

.color-span{
  padding: 2px;
  color: white;
  border-radius: 5px;
}
