table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.header-completada {
  background-color: rgb(206, 206, 11);

}

.color-span {
  padding: 2px;
  color: white;
  border-radius: 5px;
}
